.manage-patient-container {
  .m-p-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #0071ba;
  }

  .manage-patient-body {
    padding: 0 20px;

    .table-manage-patient {
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 5px;
        text-align: center;
      }

      button {
        border: none;
        outline: none;
        cursor: pointer;
      }

      .mp-btn-confirm {
        margin-right: 10px;
        height: 30px;
        border-radius: 3px;
        background: orange;
      }

      .mp-btn-cancel {
        margin-right: 10px;
        height: 30px;
        border-radius: 3px;
        background: orange;
      }

      .status-done {
        margin-right: 10px;
        border-radius: 3px;
        background: orange;
        padding: 5px 5px;
      }

      .status-cancel {
        margin-right: 10px;
        border-radius: 3px;
        background: orange;
        padding: 5px 10px;
      }
    }
  }
}
