.manage-specialty-container {
  padding: 0 10px;

  .ms-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #0071ba;
  }

  .add-new-specialty {
    .btn-save-specialty {
      border: none;
      background: #0071ba;
      padding: 8px 5px;
      min-width: 60px;
      border-radius: 3px;
      margin: 15px 0;
      color: white;
    }
  }
}
