.doctor-extra-infor-container {
  padding: 15px;
  .content-up {
    .text-address {
      text-transform: uppercase;
      color: #333;
    }
    .name-clinic {
      font-weight: 600;
      padding: 5px 0;
      color: #333;
    }

    .detail-address {
      font-weight: 600;
      color: #333;
    }
  }

  .content-down {
    .short-info {
      text-transform: uppercase;

      .detail {
        cursor: pointer;
        color: rgb(53, 188, 221);
      }

      .currency {
        margin: 0 5px;
      }
    }
    .title-price {
      margin-bottom: 10px;
    }

    .detail-info {
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #f8f8f8;
      .price {
        padding-bottom: 5px;
        .right {
          float: right;
        }
      }
      .note {
      }
    }

    .payment {
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #eeeeee;
    }

    .hide-price {
      margin-top: 10px;
      span {
        cursor: pointer;
        color: rgb(53, 188, 221);
      }
    }
  }
}
