.doctor-schedule-container {
  height: 100%;
  border-right: 1px solid rgb(174, 174, 174);

  .all-schedule {
    select {
      font-size: 15px;
      height: 25px;
      color: #337ab7;
      font-weight: 600;
      border-top: none;
      border-left: none;
      border-right: none;

      option {
        cursor: pointer;
      }
    }
  }

  .all-available-time {
    .text-calendar {
      color: #333;
      margin: 8px 0;

      i {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;

        span {
          text-transform: uppercase;
          margin-left: 2px;
          display: inline-block;
          font-size: 11px;
          letter-spacing: 0.9px;
        }
      }
    }

    .time-content {
      .time-content-btns {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        button {
          padding: 8px 10px;
          border: none;
          outline: none;
          background-color: #f1d874;
          min-width: 120px;
          border-radius: 3px;
          font-weight: 550;
          color: #333;

          &:hover {
            background-color: #45c3d2;
            color: white;
          }
        }

        .btn-vie {
          min-width: 120px;
        }

        .btn-en {
          min-width: 170px;
        }

        .text {
          font-size: 16px;
          text-align: left;
          margin-top: 48px;
          font-style: italic;
          color: rgb(236, 71, 71);
        }
      }

      .book-free {
        margin-top: 10px;
      }
    }
  }
}
