//reset slick slider css
.slick-prev {
  left: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  border-radius: 1rem !important;

  &:hover {
    background: #cececedb !important;
  }
}

.slick-next {
  right: 28px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  border-radius: 1rem !important;

  &:hover {
    background: #cececedb !important;
  }
}

.slick-next:before,
.slick-prev:before {
  //content: "\e258" !important;
  font-family: FontAwesome !important;
  color: rgb(0, 0, 0) !important;
}

.slick-disabled {
  display: none !important;
}

.sections-share {
  &.section-specialty {
    background: #f5f5f5;
  }

  &.section-outstanding-doctor {
    background: #f5f5f5;
  }

  &.section-about {
    height: 500px !important;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  .section-body {
    .section-customize {
      .bg-image {
        background-color: #eee;
        background-position: center center;
        background-repeat: no-repeat !important;
        background-size: cover;
        height: 190px;
        width: 278px;
        border: 3px solid black;
        border-color: rgb(241 241 241);
        border-radius: 1rem;

        &.section-specialty {
          // background-image: url("../../assets/specialty/co-xuong-khop.png");
        }

        &.section-medical-facility {
          //background-image: url("../../assets/medical-facility/benh-vien-thu-cuc.png");
        }

        &.section-outstanding-doctor {
          //background-image: url("../../assets/outstanding-doctor/anh-dai-dien-bs.jpg");
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }

        &.section-handbook {
          background-image: url("../../assets/handbook/cam-nang-1.png");
        }
      }
    }
  }
}

.sections-share {
  height: 330px;

  .section-container {
    margin: 0 160px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;
        margin-right: 41px;

        &:hover {
          color: #fff;
          background: #f7b800;
        }
      }
    }
  }
}

.section-outstanding-doctor {
  .outer-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .section-customize {
    padding: 5px;
    cursor: pointer;

    .customize-border {
      padding: 20px;
    }
  }
}

.home-footer {
  text-align: center;
  padding: 8px;

  a {
    text-decoration: none;
  }
}

.section-about {
  padding: 0 100px;
  .section-about-header {
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 600;
  }

  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;
    .content-left {
      width: 70%;
    }

    .content-right {
      width: 30%;
    }
  }
}
